*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: "Open Sans", sans-serif;
}
header{
    padding: 1rem 1rem;
    background-color: white;
}

ul{
    list-style: none;
    
}

header nav  {
    display: flex;
    justify-content: space-between;   
}

header nav ul{
display: flex;  
}
header nav ul > li {
    margin-right: 1rem;
}

header .botton-blue{
    width: 50px;
    height: 30px;
    background-color: #0061ff;
    color: white;
}

main section#jumbotron{
    background-color: rgba(180,208,231,255);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

div.jumbotron-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}

.jumbotron-container{
    max-width: 800px;
    margin: 0 auto;

}

section.partner{
    
    display: flex;
    max-width:900px;
    margin: 0 auto;
    margin-top: 2rem;
}


.image-dropbox img{
    width: 100%;
}

.container-testo{
width: 30%;
padding-top: 2rem;
padding-left: 2rem
}

.image-dropbox{
    width: 70%;
}

container-testo input{
margin-top: 1rem;

}


.container-testo .trova-un-partner{
    margin-top:1rem
}


section.business{
    margin: 0 auto;
    max-width: 1000px;
    
}

.pacchetti-centrali{
height: 100%;
width: calc(100% / 3 - 20px);
display: flex;
padding-bottom: 2rem;
}

.pacchetto{
border: solid rgba(220,220,222,255) 1px;  
height: 100%;
margin: 1rem;
padding-bottom: 1rem;
}


header{
    border: solid rgba(220,220,222,255) 1px;   
    text-align: center;
}

div.content{
    padding-top: 2rem;
}

input.botton-blue-pacchetti{
    background-color:#0061ff;
    color: white;
    width: 100%;
}

section.header-testo-business{
    text-align: center;
}



div.container-operazioni h1{
    text-align: center;
    font-size: 2rem;
}

section.operazioni{
    max-width: 900px;
    margin: 0 auto;
}

section.operazioni-parte-alta{
   width: 100%;  
}
.operazioni-parte-alta article{
    width: calc((100% - 90px) / 3);
}







footer{
    background-color: black;
    color: white;    
}