*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    font-family: "Open Sans", sans-serif;
}
header{
    padding: 1rem 1rem;
    background-color: white;
}

ul{
    list-style: none;
    
}

header nav  {
    display: flex;
    justify-content: space-between;   
}

header nav ul{
display: flex;  
}
header nav ul > li {
    margin-right: 1rem;
}

.botton-blue{
    width: 50px;
    height: 30px;
    background-color: #0061ff;
    color: white;
}

main section#jumbotron{
    background-color: rgba(180,208,231,255);
    padding-top: 2rem;
    padding-bottom: 1rem;
}

div.jumbotron-container{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.jumbotron-container{
    max-width: 800px;
    margin: 0 auto;
}



